 /* .Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--Second-Color);
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
